@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}

.jumbotron{
    background-color: white;
    max-width: 70%;
    margin: 15px;
}

.form-group
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}