@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}

.jumbotron{
    background-color: white;
    max-width: 70%;
    margin: 20px auto;
    padding: 10px;
    display: flex-wrap;
  justify-content: center;
  box-shadow: 5px 10px 8px #E0E0E0;

}

.form-group
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.btn{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}