@import url('https://fonts.googleapis.com/css?family=Roboto');

background{
    background-color: #F8F8F8;
    font-family: 'Roboto', sans-serif;
}

.jumbotron-container{
    background-color: white;
}

.form-group
{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}