body, html {
	height: 100%;
}

nav
{
    background-color: #224E6A;
}

ul{
    list-style-type: none;
    margin: 0;
  padding: 0;
}

li{
    display: inline;
}

li a{
    text-decoration:  none;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:#FFB0A2;
  }