@import url('https://fonts.googleapis.com/css?family=Poppins');

body, html {
	height: 100%;
}

#logoTitle
{
    color: #224E6A;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

nav
{
    background-color: #224E6A;
    padding: 14px 16px;
}

ul{
    list-style-type: none;
    margin: 0;
  padding: 0;
}

li{
    display: inline;
}

li a{
    text-decoration:  none;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:#FFB0A2;
  }