@import url('https://fonts.googleapis.com/css?family=Poppins');


/* color scheme
green - #52AEA0
navy - #224E6A
lite navy -#627E8F
pink - #FFB0A2
grey - #737373 */


body, html {
    height: 100%;
}

#logoTitle {
    color: #224E6A;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

/* nav and menu bar */

nav {
    font-family: 'Poppins', sans-serif;
    background-color: #224E6A;
    padding: 14px 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    text-align: center;
}

li a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */

.active,li a:hover {
    background-color:#627E8F;
}

.button {
    font-family: 'Poppins', sans-serif;
    background-color:#52AEA0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover
{
    background-color: #64958e;
}

/* main css goes here */
main {
    font-family: 'Poppins', sans-serif;
}